[submodule "rh-connectivity-link-operator/kuadrant-operator"]
	path = rh-connectivity-link-operator/kuadrant-operator
	url = https://github.com/kuadrant/kuadrant-operator
	branch = main
[submodule "rh-wasm-shim/wasm-shim"]
	path = rh-wasm-shim/wasm-shim
	url = https://github.com/Kuadrant/wasm-shim.git
	branch = main
[submodule "rh-limitador/limitador"]
	path = rh-limitador/limitador
	url = https://github.com/Kuadrant/limitador
	branch = main
[submodule "rh-limitador-operator/limitador-operator"]
	path = rh-limitador-operator/limitador-operator
	url = https://github.com/kuadrant/limitador-operator
	branch = main
[submodule "rh-authorino/authorino"]
	path = rh-authorino/authorino
	url = https://github.com/Kuadrant/authorino/
	branch = main
[submodule "rh-authorino-operator/authorino-operator"]
	path = rh-dns-operator/authorino-operator
	url = https://github.com/Kuadrant/authorino-operator/
	branch = main
[submodule "rh-dns-operator/dns-operator"]
	path = rh-dns-operator/dns-operator
	url = https://github.com/Kuadrant/dns-operator/
	branch = main
